<style>
    body {margin:0}

    .header {
        margin: auto;
        width: 200px;
    }
    
    .icon-bar {
      width: 360px;
      background-color: #555;
      margin: auto;
    }
    
    .icon-bar a {
      display: block;
      text-align: center;
      padding: 16px;
      transition: all 0.3s ease;
      color: white;
      font-size: 36px;
    }
    
    .icon-bar a:hover {
      background-color: #000;
    }
    
    </style>