<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT BOT</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/icon/icon-h-15.ico">
</head>

<body>
    <div class="header"><h1>CHAT BOT</h1></div>
    <div class="icon-bar"> 
       <a href="/socket">Socket</a>
       <a href="/shortPolling">Short Polling</a>
       <a href="/longPolling">Long Polling</a>
    </div>
</body>
</html>