<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket</title>
    <link rel="icon" href="/static/icon/icon-h-15.ico">
</head>
<body>

    <div class="back"><a href="/" style="font-size: 30px;">Back</a></div>
    <div style="width: 600px; margin: auto;"><h1>BOT CHAT WITH SOCKET</h1></div>

    <div id="box" style="width: 900px; margin: auto;">
        <form action="" method="POST" id="user-chat"> 
            <label for="user">Your Name: </label>
            <input type="text" id="user" name="user" value="user" size="10">
            <label for="message">Messsenge:</label>
            <input type="text" name="message" id="message" size="50">
            <span></span>
            <input type="submit" value="Send">
        </form>
        
        <div id="dialog" style="height: 300px;"></div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="/static/js/socket.js"></script>
    

</body>
</html>